.cliente-list-item {
    margin-bottom: 1rem;

    &__header {
        background-color: $color-primary;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.25rem 0.5rem;
    }

    &__icon {
        cursor: pointer;
        color: $color-accent;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 300;
    }

    &__content {
        border: 1px solid $color-primary;
        font-size: 1.25rem;
        padding: 0.5rem;
    }

    &__group-field {
       display: flex;
    }

    &__field {
       flex: 1;

       &--direccion {
           flex: 2;
       }
    }

    &__label {
        color: $color-primary;
        font-weight: 300;
        margin-right: 1rem;
    }

    &__value {
        color: $black;
    }
}