.login-form {
    background-color: $grey;
    border-radius: 0.5rem;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;

    &__login-label {
        display: block;
        color: $color-primary;
        margin-bottom: 1rem;
        font-weight: bold
    }

    &__login-input {
        width: 100%;
        border: none;
        border-radius: 2px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border-bottom: 3px solid transparent;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($black, 0.1);
            border-bottom: 3px solid $color-primary-light;
        }
    }

    &__login-button {
        margin-top: 1rem;
        text-align: center;
    }

    input[type=submit]:focus {
        outline: none;
    }
}