.main {
    background-color: $white;
    height: 95vh;
    width: calc(100% - #{$navbar-width});
    float: left;
    padding: 0 2rem;

    &__page-title {
        width: 100%;
        display: inline-block;
        font-weight: 300;
        color: $color-text-primary-light;
        border-bottom: 1px solid $color-primary;
    }
}