*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-primary;
    box-sizing: border-box;
}

.row {
    max-width: 1140px;
}

.container {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
}

.main-layout {
    width: 100%;

    @include clearfix;
}